    <!--sec2 pop-->
    <section class="hide" id="flag1-1">
        <section role="flag1-1" class="flag-pop">
            <figure class="flag"><img src="img/f_pop1_1.svg"></figure>
            <h3>主動出撃<br class="visible-xs">不盲從基準指標</h3>
            <h5>追求大盤以外的超額報酬，<br class="visible-xs">創造獨特的投資機遇</h5>
            <aside class="center">
                <figure class="text-center"><img class="visible-xs" src="img/pop1_1_m.png"><img class="hidden-xs" src="img/pop1_1.png"></figure>
                <span class="hint text-left">*持股比重將隨時間改變<br>資料來源 : 路博邁、晨星，基準指標為MSCI新興市場(淨)總報酬指數，資料截至2017年12月31日。</span>
            </aside>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag1-2">
        <section role="flag1-2" class="flag-pop">
            <figure class="flag"><img src="img/f_pop1_2.svg"></figure>
            <h3>加碼佈局潛力<br class="visible-xs">中、小型股</h3>
            <h5>捕捉中、小型股的成長契機，<br class="visible-xs">挖掘在地化的隱形冠軍</h5>
            <aside class="center">
                <figure class="text-center"><img src="img/pop1_2.png"></figure>
                <span class="hint text-left">資料來源 :路博邁、晨星，基準指標為MSCI新興市場(淨)總報酬指數，資料截至2017年09月30日。<br>
                小型股為市值低於10億美元、中型股為市值介於10億至50億美元、大型股市值為超過50億美元的企業。</span>
            </aside>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag1-3">
        <section role="flag1-3" class="flag-pop">
            <figure class="flag"><img src="img/f_pop1_3.svg"></figure>
            <h3>相對著重內需受惠產業</h3>
            <h5>搭上新興市場強勁內需成長，<br class="visible-xs">找出受惠產業投資機會</h5>
            <aside class="center">
                <figure class="text-center"><img src="img/pop1_3.png"></figure>
                <span class="hint text-left">資料來源 :路博邁、晨星，基準指標為MSCI新興市場(淨)總報酬指數，資料截至2017年12月31日。<br>內需產業包含消費、健康護理、工業、電信及公用事業。</span>
            </aside>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag1-4">
        <section role="flag1-4" class="flag-pop">
            <figure class="flag"><img src="img/f_pop1_4.svg"></figure>
            <h3>精準投資高品質<br class="visible-xs">成長產業</h3>
            <h5>高品質選股策略，路博邁幫你一手掌握</h5>
            <aside class="center">
                <figure class="text-center"><img src="img/pop1_4.png"></figure>
                <span class="hint text-center">資料來源：路博邁、晨星，基準指標為MSCI新興市場(淨)總報酬指數，資料截至2017年12月。</span>
            </aside>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <!--./sec2 pop-->

    <!--sec3 pop-->
    <section class="hide" id="flag2-1">
        <section role="flag2-1" class="flag-pop">
            <figure class="flag"><img src="img/f_pop2_1.svg"></figure>
            <h3>潛力無窮 債市後勁強</h3>
            <h5>新興市場主流地位確立，<br class="visible-xs">後市強勁動能不容錯過</h5>
            <figure class="text-center"><img src="img/pop2_1.png"></figure>
            <span class="hint text-center">資料來源：路博邁，2018年1月</span>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag2-2">
        <section role="flag2-2" class="flag-pop">
            <figure class="flag"><img src="img/f_pop2_2.svg"></figure>
            <h3>靈活布局 跳脫基準指標</h3>
            <h5>一次掌握債券、匯率、利率三大利基，<br class="visible-xs">靈活布局嚴控風險</h5>
            <figure class="text-center"><img src="img/pop2_2.png"></figure>
            <span class="hint text-center">資料來源：路博邁。</span>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag2-3">
        <section role="flag2-3" class="flag-pop">
            <figure class="flag"><img src="img/f_pop2_3.svg"></figure>
            <h3>投資級信評<br class="visible-xs">收益品質並重</h3>
            <h5>收益品質都兼顧，提高整體收益率</h5>
            <figure class="text-center"><img src="img/pop2_3.png"></figure>
            <span class="hint text-center">資料來源：路博邁，資料截至2018年1月底。基準指標為摩根GBI-EM環球多元化債券指數。</span>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <section class="hide" id="flag2-4">
        <section role="flag2-4" class="flag-pop">
            <figure class="flag"><img src="img/f_pop2_4.svg"></figure>
            <h3>ESG 永續競爭優勢</h3>
            <h5>ESG因子藏其中，績效表現更亮眼！</h5>
            <aside class="center">
                <p>
                    <a class="pull-right" target="_blank" href="https://www.nb.com/pages/public/zh-tw/esg-investing.aspx"><span>路博邁的<br class="hidden-xs">ESG政策</span></a>
                    路博邁於1940年代早期即落實社會責任投資，我們認為重要的環境、社會與治理(ESG)因子，會左右長期投資表現；主動管理ESG相關風險與機會的新興市場國家，具有更永續的競爭優勢。</p>
                <figure class="text-center"><img src="img/pop2_4.png"></figure>
                <span class="hint text-left">資料來源 :  路博邁，2017年8月。ESG因子中，E代表環境、S代表社會、G代表治理(包括經濟；法律與政治)。*整體市場以JP Morgan EMBIG  Index 爲代表</span>
            </aside>
            <a href="javascript:" class="veno-close">
                <img src="img/btn_close.svg">
            </a>
        </section>
    </section>
    <!--./sec3 pop-->