
            <section role="s1" class="section" data-nav="s1" id="s1">
                <aside class="viewport">
                    <aside class="slick">
                        <aside class="slide">
                            <h3>經濟成長加速，企業盈餘增長同步上揚！</h3>
                            <figure class="left">
                                <img class="hidden-xs" src="img/s1_1_1.png">
                                <img class="visible-xs" src="img/s1_1_1_m.png">
                            </figure>
                            <figure class="right">
                                <img class="hidden-xs" src="img/s1_1_2.png">
                                <img class="visible-xs" src="img/s1_1_2_m.png">
                            </figure>
                        </aside>
                        <aside class="slide">
                            <h3>投資人的最愛，新興市場成吸金王！</h3>
                            <figure class="left">
                                <img class="hidden-xs" src="img/s1_2_1.png">
                                <img class="visible-xs" src="img/s1_2_1_m.png">
                            </figure>
                            <figure class="right">
                                <img class="hidden-xs" src="img/s1_2_2.png">
                                <img class="visible-xs" src="img/s1_2_2_m.png">
                            </figure>
                        </aside>
                        <aside class="slide">
                            <h3>新興市場物美價廉，多頭動能接力激勵！</h3>
                            <figure class="left">
                                <img class="hidden-xs" src="img/s1_3_1.png">
                                <img class="visible-xs" src="img/s1_3_1_m.png">
                            </figure>
                            <figure class="right">
                                <img class="hidden-xs" src="img/s1_3_2.png">
                                <img class="visible-xs" src="img/s1_3_2_m.png">
                            </figure>
                        </aside>
                    </aside>
                </aside>
            </section>