
            <section role="s1" class="section" data-nav="s1" id="s1">
                <aside class="viewport">
                    <aside class="slick">
                        <aside class="slide">
                            <h3>經濟成長加速，企業盈餘增長同步上揚！</h3>
                            <figure class="left">
                                <img src="img/s1_1_1.png">
                            </figure>
                            <figure class="right">
                                <img class="hidden-xs" src="img/s1_1_2.png">
                                <img class="visible-xs" src="img/s1_1_2_m.png">
                            </figure>
                            <span class="hint">資料來源：IMF，2017年10月；Bloomberg，2017年12月</span>
                        </aside>
                        <aside class="slide">
                            <h3>投資人的最愛，新興市場成吸金王！</h3>
                            <figure class="left">
                                <img src="img/s1_2_1.png" src="img/s1_2_1.png">
                            </figure>
                            <figure class="right">
                                <img class="hidden-xs" src="img/s1_2_2.png">
                                <img class="visible-xs" src="img/s1_2_2_m.png">
                            </figure>
                            <span class="hint">資料來源 : Morgan Stanley，2018年2月。</span>
                        </aside>
                        <aside class="slide">
                            <h3>新興市場物美價廉，多頭動能接力激勵！</h3>
                            <figure class="left">
                                <img class="hidden-xs" src="img/s1_3_1.png">
                                <img class="visible-xs" src="img/s1_3_1_m.png">
                            </figure>
                            <figure class="right">
                                <img src="img/s1_3_2.png">
                            </figure>
                            <span class="hint">資料來源：Goldman Sachs，2018年1月19日。</span>
                            <span class="hint hint2">數據資料截至2017年12月31日；預估本益比為依據未來1年之本益比預估值。 </span>
                        </aside>
                    </aside>
                </aside>
            </section>