
            <section role="s2" class="section" data-nav="s2" id="s2">
                <aside class="viewport">
                    <a target="_blank" href="https://www.nb.com/pages/public/zh-tw/products/emerging-markets-equity-fund-retail.aspx"><h3>NB新興市場股票基金</h3></a>
                    <aside class="slick">
                        <aside class="slide">
                            <figure>
                                <img class="hidden-xs" src="img/s2_1.png">
                                <img class="visible-xs" src="img/s2_1_m.png">
                            </figure>
                            <span class="hint">資料來源：晨星，績效以美元計算截至2018年1月31日；基金績效方面，在台灣以銷售T、B、E 及C2 類股為主，資料以I 類股淨資產價值，計算至 2018年1月31日止。一般而言，本基金I類股之管理費較T、B、E 及C2類股低。投資人應注意I、T、B、E 及C2類股之報酬可能因各類股間費用率相異而有所不同。投資人應詳閱公開說明書內關於本基金各類股費用及開支之相關資訊，新興本地貨幣債同類型為晨星全球新興市場本地貨幣債券型。</span>
                        </aside>
                        <aside class="slide slide2">
                            <aside class="center">
                                <aside class="currency">
                                    <span class="ic-currency"><img data-src="img/ic_currency.svg"></span><a href="javascript:"><img data-src="img/btn_usd.svg"></a><a href="javascript:"><img data-src="img/btn_aud.svg"></a><a href="javascript:"><img data-src="img/btn_zar.svg"></a>
                                </aside>
                                <aside class="download">
                                    <span class="ic-download"><img data-src="img/ic_download.svg"></span><a target="_blank" href="https://www.nb.com/documents/public/zh-tw/EME_2018Q1.pdf">點我下載</a>
                                </aside>
                            </aside>
                        </aside>
                    </aside>
                    <nav>
                        <a href="#flag1-1" class="veno" data-vbtype="inline">
                            <img data-src="img/s2_f1.svg">
                        </a>
                        <a href="#flag1-2" class="veno" data-vbtype="inline">
                            <img data-src="img/s2_f2.svg">
                        </a>
                        <a href="#flag1-3" class="veno" data-vbtype="inline">
                            <img data-src="img/s2_f3.svg">
                        </a>
                        <a href="#flag1-4" class="veno" data-vbtype="inline">
                            <img data-src="img/s2_f4.svg">
                        </a>
                    </nav>
                </aside>
            </section>