
            <section role="s3" class="section" data-nav="s3" id="s3">
                <aside class="viewport">
                    <a href="https://www.nb.com/pages/public/zh-tw/products/emerging-markets-debt-local-currency-fund-retail.aspx" target="_blank"><h3>NB新興市場本地貨幣債券基金<br><span class="hl">(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)</span></h3></a>
                    <aside class="slick">
                        <aside class="slide slide3">
                            <figure>
                                <img class="hidden-xs noie" src="img/s3_1.gif">
                                <img class="visible-xs noie" src="img/s3_1_m.gif">
                                <img class="hidden-xs ie" src="img/s3_1.png">
                                <img class="visible-xs ie" src="img/s3_1_m.png">
                            </figure>
                            <span class="hint">資料來源：晨星，績效以美元計算截至2018年1月31日；基金績效方面，在台灣以銷售T、B、E 及C2 類股為主，資料以I 類股淨資產價值，計算至 2018年1月31日止。一般而言，本基金I類股之管理費較T、B、E 及C2類股低。投資人應注意I、T、B、E 及C2類股之報酬可能因各類股間費用率相異而有所不同。投資人應詳閱公開說明書內關於本基金各類股費用及開支之相關資訊，新興本地貨幣債同類型為晨星全球新興市場本地貨幣債券型。</span>
                        </aside>
                        <aside class="slide slide3">
                            <figure>
                                <img class="hidden-xs" src="img/s3_2.png">
                                <img class="visible-xs" src="img/s3_2_m.png">
                            </figure>
                            <span class="hint">資料來源：路博邁及晨星，截至2018年01月31日 。<br>
                                基金董事目前擬定，(週)配息股份級別和(月)配息股份級別依據下列公式定期配息：每單位配息金額=依據除息前一日未四捨五入之淨值x目標年化配息率x(當月日曆天數/當年日曆天數)。自2018年2月28日起，本基金的目標年化配息率為10%(美元股份級別)、11%(澳幣股份級別)和16%(南非幣股份級別)。但請投資人注意上述為當前配息政策，基金董事有權決定不為該等宣告與配息，並且不保證應支付該等配息。(相關敘述請詳閱公開說明書配息政策章節)#自2015年6月起依中華民國證券投資信託暨顧問商業同業公會會員及其銷售機構從事廣告及營業活動行為規範，基金年化配息率公式為：年化配息率(%)＝每單位配息金額÷除息前一日之淨值x一年配息次數x100%。年化配息率為估算值。上表僅為6個月之配息紀錄，月配息基準日為每月最後一個營業日或之前宣告，並於宣告日後三營業日支付。僅揭示T(月配息)類股績效，以一個月期間計算，加計受益分配之累積報酬率。</span>
                        </aside>
                        <aside class="slide slide2">
                            <aside class="center">
                                <aside class="currency">
                                    <span class="ic-currency"><img data-src="img/ic_currency.svg"></span><a href="javascript:"><img data-src="img/btn_usd.svg"></a><a href="javascript:"><img data-src="img/btn_aud.svg"></a><a href="javascript:"><img data-src="img/btn_zar.svg"></a>
                                </aside>
                                <aside class="download">
                                    <span class="ic-download"><img data-src="img/ic_download.svg"></span><a target="_blank" href="https://www.nb.com/documents/public/zh-tw/EMDLC_2018Q1.pdf">點我下載</a>
                                </aside>
                            </aside>
                        </aside>
                    </aside>
                    <nav>
                        <a class="veno" data-vbtype="inline" href="#flag2-1">
                            <img data-src="img/s3_f1.svg">
                        </a>
                        <a class="veno" data-vbtype="inline" href="#flag2-2">
                            <img data-src="img/s3_f2.svg">
                        </a>
                        <a class="veno" data-vbtype="inline" href="#flag2-3">
                            <img data-src="img/s3_f3.svg">
                        </a>
                        <a class="veno" data-vbtype="inline" href="#flag2-4">
                            <img data-src="img/s3_f4.svg">
                        </a>
                    </nav>
                </aside>
            </section>