
            <section role="s4" class="section" data-nav="s4" id="s4">
                <h3>路博邁股債雙雄</h3>
                <input class="hide" type="radio" name="tabs" id="tabCheetah" checked>
                <input class="hide" type="radio" name="tabs" id="tabLion">

                <figure class="background">
                    <img data-src="img/wm_left.svg" class="cheetah">
                    <img data-src="img/wm_right.svg" class="lion">
                </figure>
                <aside class="viewport">
                    
                    
                    <label for="tabCheetah"><h4>新興市場股票團隊</h4></label>
                    <label for="tabLion"><h4>新興市場債券團隊</h4></label>

                    <aside class="tabContent tabCheetah">
                        <figure class="award text-center">
                            <img data-src="img/t1_1_award.png">
                        </figure>
                        <h4>「巷仔內」視野，掌握在地投資方向</h4>
                        <ul>
                            <li><span>投資團隊成員來自不同國家，包括新興市場。</span></li>
                            <li><span>獨到投資眼光，領先市場投資趨勢。</span></li>
                            <li><span>團隊平均產業經驗達16年，並擁有36位全球股票研究團隊成員的奧援。</span></li>
                        </ul>
                        <h4>創新投資想法、獨立研究精神</h4>
                        <figure class="text-center">
                            <img data-src="img/t1_1_chart.svg">
                        </figure>
                        
                    </aside>
                    <aside class="tabContent tabLion">
                        <figure class="award text-center">
                            <img src="img/t1_2_award.png">
                        </figure>
                        <h4>投資先驅，歷經多次景氣循環考驗</h4>
                        <ul>
                            <li><span>投資團隊於1998年即開始投資新興市場本地貨幣債券。</span></li>
                            <li><span>當地貨幣債券投資組合經理人平均產業資歷達24年。</span></li>
                            <li><span>管理新興市場債資產達167億美元。</span></li>
                        </ul>
                        <span class="hint">資料來源：路博邁，2017年12月31日。</span>
                        <h4>團隊合作，全方位覆蓋新興市場機會</h4>
                        <ul>
                            <li><span>多據點團隊讓在地觀點完整納入研究平台。</span></li>
                            <li><span>匯率、利率與信用投資人才各司其職，合作無間。</span></li>
                            <li><span>追求多元的主動式報酬來源。</span></li>
                            <li><span>著重基本面研究，領先業界將環境、社會與管治因子納入投資評估。</span></li>
                        </ul>
                        <figure class="text-center">
                            <img src="img/t1_2_chart.svg">
                        </figure>
    
                    </aside>
                    <span class="hint">a 資料來源：MSCI、FactSet、RIMES。本文列舉之企業盈餘預估數據，並以此估算之任何比例或其他評估結果均依據市場預估值，非路博邁之預估值，且預估結果不一定會實現。此外，任何預估值的修正可能會影響有價證券之市場價格。本文引用之預估數據不代表路博邁之意見，且不保證預估數據之準確度。請參閱文末額外揭露資訊，該資訊為本文之重要章節。</span>
                </aside>
            </section>