[role=content]{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	position:relative;
	min-width: 320px;
    background: $body-bg;
	color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: 14px;

    @media screen and (max-width: 1000px) {
        background: #04091D;
        font-size: 16px;
    }
    >*{
        opacity: 0;
        filter: blur(5px);
        position: relative;
    }
    &:before{
        content: '';
        @include SubItem();
        background: $body-bg;
    }

    &.loaded{
        >*{
            opacity: inherit;
            transition-duration: 0.5s;
            filter: none;
        }
    }

    figure[data-src], img[data-src]{
        opacity: 0;
        transition-duration: 0.3s;
        &.loaded{
            opacity: 1;
        }
    }
    .viewport{
        width: 1024px;
        margin: 0 auto;
        position: relative;
        padding-top: 1px;
        margin-top: -1px;
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        h2,h3{
            color: #004483;
            text-align: center;
            @media screen and (max-width: $screen-md) {
                text-align: left;
            }
        }
        h3{
            @media screen and (max-width: 1000px) {
                font-size: 24px;
                font-size: vwxs(48,640);
            }
        }
        .hint{
            color: #b8b8b8;
            line-height: em(20,14);
            @media screen and (max-width: 1000px) {
                font-size: 11px;
            }
        }
        .slick{
            .slide2{
                .center{
                    width: 810px;
                    margin: 0 auto 160px;

                    .download{
                        margin-top: 54px;
                        @media screen and (max-width: 1000px) {
                            margin: 0 auto;
                        }
                    }
                    @media screen and (max-width: 1000px) {
                        width: 100%;
                        margin: 0 auto;
                        .currency{
                            text-align: center;
                        }
                    }
                }
                
                .ic-currency{
                    width: 288px;
                    height: 124px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 33px;
                    @media screen and (max-width: 1000px) {
                        display: block;
                        width: 50%;
                        height: auto;
                        margin: 0 auto;
                        img,svg{
                            width: 100%;
                            height: auto;
                        }
                    }
                    &~a{
                        display: inline-block;
                        vertical-align: top;
                        img,svg{
                            width: 120px;
                            height: 164px;
                        }
                        @media screen and (max-width: 1000px) {
                            // display: block;
                            width: 25%;
                            margin: 5% auto 5% 2%;
                            text-align: center;
                            img,svg{
                                width: 100%;
                                height: auto;
                            }
                        }
                        &+a{
                            margin-left: 64px;
                            @media screen and (max-width: 1000px) {
                                margin-left: 3%;
                            }
                        }
                    }
                }
                .ic-download{
                    width: 288px;
                    height: 124px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 33px;
                    @media screen and (max-width: 1000px) {
                        display: block;
                        width: 50%;
                        height: auto;
                        margin: 0 auto;
                        img,svg{
                            width: 100%;
                            height: auto;
                        }
                    }
                    &~a{
                        display: inline-block;
                        vertical-align: bottom;
                        width: 488px;
                        height: 80px;
                        background-color: #708cb1;
                        color: #ffffff;
                        line-height: 80px;
                        text-align: center;
                        font-size: em(36,14);
                        @media screen and (max-width: 1000px) {
                            width: 65%;
                            height: 2em;
                            line-height: 2em;
                            font-size: 14px;
                            font-size: vwxs(28,640);
                            margin: 1em auto 0;
                            display: block;

                        }
                    }
                }
            }
        }
    }
    .center{
        width: 1215px;
        margin: 0 auto;
        position: relative;
    }
    .section{
        hr{
            display: block;
        }
        >aside{
            @media screen and (max-width: $screen-xs) {
                max-width: 96%;
                margin: 0 auto;
            }
        }
    }
    .slick-dots {
        bottom: 50px;
        @media screen and (max-width: 1000px) {
            position: relative;
            bottom: auto;
            padding: 1em 0;
        }
        button{            
            width: 16px;
            height: 16px; 
            border: solid 2px #004483;
            border-radius: 50%;
            &:before{
                display: none;
            }
        }
        .slick-active{
            button{  
                background-color: #004483;
            }
        }
    }
    .slick-arrow{
        width: 48px;        
        height: 44px;
        &:before{
            color: rgba(0,0,0,0);
        }
    }
    .slick-prev{
        background:url(../img/btn_arrow_l.svg) center/100% auto no-repeat;
        left: -100px;
        @media screen and (max-width: 1000px) {
            left: -7vw;
            width: 7vw;
        }
    }
    .slick-next{
        background:url(../img/btn_arrow_r.svg) center/100% auto no-repeat;
        right: -100px;
        @media screen and (max-width: 1000px) {
            right:-7vw;
            width: 7vw;
        }
    }
    .slick-slide{
        .slide{
            figure{
                img{
                    max-width: 98%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}