footer {
    position: relative;
    background:#004483;
    font-size: em(20,14);
    @media screen and (max-width: 1000px) {
        font-size: 11px;
        font-size: vwxs(22,640);
    }
    .viewport{
        width: 1024px;
        color: #fff;
        @media screen and (max-width: 1000px) {
            width: vwxs(540,640);
            font-size: 11px;
            font-size: vwxs(22,640);
        }
        p{
            margin: 0;
            padding: 68px 0;
        }
        .hl{
            color: #b9ddff;
        }
    }
}