[role=kv]{
    .viewport{
        width: 1280px;
        max-width: 100%;
        margin-top: 80px;
        // margin-bottom: 40px;
        @media screen and (max-width: 1000px) {
            padding-top: 0;
            height: auto;
            margin-top: per(140, 640);
        }
        h2{
            margin-top: em(140,62);
            font-weight: 800;
        }
        h3{
            font-size: em(36,$font-size-base-num);
            font-weight: 600;
            width: em(668, 36);
            margin: em(14,36) auto;
            white-space: nowrap;
            overflow: hidden;
            span{
                width: 100%;
                display: inline-block;
            }
        }
        .m{
            height: 100%;
            width: per(600, 640);
            margin: per(60, 640) auto;
            position: relative;
            img{
                @include SubImgW();
                position: relative;
            }
        }
    }
    #animation_container {
      position: relative;
      margin:0 auto;
      top:0;
      bottom:0;
      background-color:rgba(0, 0, 0, 0);
      width: 100% !important;
      height: 0 !important;
      padding-top: per(800,1280);
      img{
          @include SubImgW();
          position: relative;
      }
      
    }
    #dom_overlay_container{
        pointer-events:none; 
        overflow:hidden;
        width:1280px; 
        height:800px; 
        position: absolute; 
        left: 0px; 
        top: 0px; 
        display: block;
    }
    #canvas{
        position: absolute; 
        display: block; 
        width: 100% !important;
        height: 100% !important;
        top: 0;
        background-color:rgba(0, 0, 0, 0);
    }
}

