[role=s2]{
    .viewport{
        @media screen and (max-width: 1000px) {
            width: per(540, 640);
        }
        h3{
            margin: 68px auto;
            @media screen and (max-width: 1000px) {
                margin: 1em auto;
            }
        }
        .slick{
            width: 1024px;
            margin: 0 auto;
            height: 608px;
            max-width: 100%;
            @media screen and (max-width: 1000px) {
                height: auto;
                figure{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .hint{
            display: inline-block;
            margin-top:30px;
        }

        nav{
            margin: 0 auto;
            padding-bottom: 58px;
            text-align: center;
            @media screen and (max-width: 1000px) {
                a{
                    display: inline-block;
                    max-width: 45%;
                    position: relative;
                    margin-top: 1em;
                    img,svg{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

